{#{% load my_tags %}#}
{%  extends 'main/base.html'%}

{% block content %}
    <div class="container">
        <div class="card mb-4 box-shadow ">
            <div class="card-header d-flex align-items-center justify-content-center h-80">
                <h5 class="my-0 font-weight-normal text-truncate">Иноформация студента</h5>
            </div>
            <div class="card-body flex-column">
                  <div class="row align-items-start">
                    <div class="col">
                      Имя
                    </div>
                    <div class="col">
                      {{ object.first_name }}
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <div class="col">
                      Фамилия
                    </div>
                    <div class="col">
                      {{ object.last_name }}
                    </div>
                  </div>
                  <div class="row align-items-end">
                    <div class="col">
                      Почта
                    </div>
                  </div>
            </div>
        </div>
    </div>
{% endblock %}